name: Backend CI/CD - EC2

on:
  push:
    branches:
      - main
    paths:
      - "E-Commerece-Backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/MERN-Integration/E-Commerece-Backend
            git pull origin main
            npm install
            echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
            echo "PORT=5000" >> .env
            pm2 restart backend || pm2 start index.js --name backend
            pm2 save